/*
	   **************    ////////////
	   **************	 ////////////
			 ****		 ////    ////		  Empresa: Ponte21
			 ****        ////  ////
		***	 ****        //////////
		***  ****	     ///// //////		  Front-end by:
		*********        ////    /////   **	  Junior Lisboa
		*********        ////     /////  **   www.lobon.com.br
*/


/* Configs */

html{height: 100%;}
body{height: 100%; background-color: #f7f7f7}



.container{width: 82%}
.top-home{height: 100%}
.menu{margin-top: 20px; background-color: #f7f7f7}
.destaque{text-decoration: line-through}
.overflow{overflow: hidden;}
.absolute{
	position: absolute;
	padding-right: 70px !important;
	background-color: rgba(0,0,255,0.3);
	height: 100%;
}
.sublinhado{border-bottom: 1px solid #000;}


/* Animations */

@keyframes esquerda {
    from {margin-top: 15px;}
    to {margin-top: 0px;}
}

@keyframes direita {
    from {margin-top: 15px;}
    to {margin-top: 30px;}
}

@keyframes aparecece {
    from {opacity: 0.0}
    to {opacity: 10}
}


/* Menu elements */

.brand-logo{
	font-weight: 600;
}
.menu-item{
	font-size: 18px;
	font-weight: 600;
}

.side-nav img{
	width: 20px;
}

.menu2{

	margin-top: 80px;
	background-color: #f7f7f7;
	text-align: center;
}

.menu2 a{
	color: black;
	font-size: 2.0em;
	font-weight: 600;
}

.ativo{
	color: red;
}






/* Social Buttons*/

.social{

	position: fixed;
	margin-left: 50px;
	margin-top: 20%;
	z-index: 999;
}

.social img{

	width: 20px;
	margin-bottom: 28px;
}








/* Homepage elements */





/* Pics */


.foto-home{
	height: 90vh;
	padding: 17% 3% 0% 5% !important;
	z-index: 2;
	position: relative;
	background-repeat: no-repeat;
}

.foto-home h3{

	font-weight: 600;
	font-size: 13.9em;
	color: #000;
	margin-top: -30px;
	margin-right: -80px;
}

.foto-home span{
	color: #fff;
    line-height: 1.1;
	font-weight: 700;
	font-size: 3.8em;
    border-left: 8px solid #fff;
    padding-left: 30px !important;
}

.foto-topo{
	background-image: url('../assets/home_02.png');
	animation-name: esquerda;
    animation-duration: 1.5s;    
    background-size: 1100px;
    background-position: center;
}









/* Faixa transversal de background*/

.faixa{

	background-image: url('../assets/fundo.png');
	width: 100%;
	height: 2000px;
	position: absolute;
	margin-top: -1000px;
	z-index: 1;
}








/* Texto sobre o curso*/

.texto-home{
	margin-top: -5vh;
	z-index: 999;
	position: relative;
}

.texto-home span{
	background-color: yellow;
}

.texto-home h4{

	font-size: 1.9em;
	font-weight: 300;
	line-height: 1.3;
}

.texto-home h2{

	font-weight: 500;
	font-size: 2.1em;
}



.proximos{

	font-weight: 600;
	font-size: 2.6em;
}

.titulo-proximos{
	margin-top: 20vh;
}

.item-proximos{

}





/* Cursos */

.cursos{
	z-index: 2;
	position: relative;
	margin-top: 500px;
	height: 300px;
	margin-top: 250px;
}
.cursos2{
	z-index: 2;
	position: relative;
	height: 300px;
	margin-top: -20px;	
}

.cont-cursos{
	padding: 20px;
}

.quadrado-imagem{
	
	height: 300px;
	background-color: black;
	padding: 0px !important;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s
}

.quadrado-imagem:hover .chip{
	display: block;
}

.row .col{
	padding: 0px;
}

.quadrado-imagem h2{

	font-size: 23px;
	margin-left: 30px;
	margin-top: 30px;
	color: #fff;
	font-weight: 500;
	margin-right: 30px;
	line-height: 1.6;
	z-index: 8;
	position: relative;
}

.quadrado-imagem img{
	height: 100%;
	width: auto;
}

.escuro{
	z-index: 5;
	height: 100%;
	opacity: 0.4;
	width:100%;
	position: absolute;
	background-color: #000;
}

.primeiro-quadrado{

	padding-top: 60px !important;
}

.primeiro-quadrado span{
	font-size: 55px;
	line-height: 1.0;
	font-weight: 600;
	position: relative;
	margin-left: -40px;
	color: black;
}

.chip{
	margin-left: 30px;
	color: #fff;
	position: relative;
	z-index: 10;
	display: none;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s
}

.completobtn{

	position: relative;
	z-index: 8;
	color: #000;
	font-size: 22px;
	font-weight: 700;
}

.completobtn span:hover{
	border-bottom: 2px solid #000;
}










/* Mastertechers */

.cards-techers{
	
	margin-top: 14vh;
}

.techer{
	margin: 10px;
	box-shadow: 0px 5px 30px 0px #ccc;
	padding: 0px;
	height: 250px;
}

.techer span{
	color: #000;
	font-size: 20px;
}

.techer span p{
	color: #000;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1.0;
}

.techer img{
	height: 100%;
}


.conteudo{
	padding-left: 20px !important;
}










/* Aqui vem o CSS do Vídeo*/

.video{

	margin-top: 18vh;
	padding: 50px;
}

.texto-video{

	box-shadow: 10px 5px 30px 0px #ccc;
	position: relative;
	z-index: 10;
	height: 650px;
	background-color: #fff;
	padding: 30px !important;
}

.video-video{

	position: relative;
	z-index: 9;
	height: 550px;
	margin-top: 50px;
	box-shadow: 0px 5px 40px 0px #ccc;
}

.iframe-video{
	height: 100%;
	width: 100%;
}

.sublinhado a{
	color: #000;
}

.conteudo-video p{
	font-size: 1.6em;
	line-height: 1.4;
	font-weight: 600;
}

.conteudo-video span{

	font-size: 1.3em;
}








/* Captura de emails */

.branco-caixa{
	padding: 20px 30px 10px 30px !important;
	background-color: #fff;
	width: 100%;
	height: auto;
	margin-top: 100px;
}

.quero-btn{
	margin-top: 20px;
	font-size: 1.2em;
	background-color: #2a62ff !important;
}

.texto-email{
	font-size: 1.3em;
	margin-top: 30px;
	font-weight: 600;
}

.branco-caixa input{
	border-bottom: 2px solid #2a62ff;
}

.branco-caixa label{
	color: #2a62ff;
	font-size: 1.2em;
}

.aeho{
	margin-top: -20px;
}








/* Footer */

.baixo{
	width: 100%;
}

footer{
	margin-top: 10vh;
	margin-bottom: 10vh;
	width: 90%;
}

.gostou span{
	font-size: 2.8em;
	font-weight: 700;
}

.imersivos span{
	font-size: 1.3em;
	font-weight: 700;
}

.quero-btn2{	
	font-size: 1.2em;
	line-height: 1.2;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}






/* Customs*/


.entra-baixo{

	margin-bottom: -35px !important;
}


.filter{

	height: 100%;
	width: 100%;
	overflow: hidden;

}

.quadrado-imagem{
	margin-left: -50px !important;
}


.curso-maior{

	margin-bottom: 50px;
}

.curso-maior-ultimo{
	margin-bottom: 10px;
}


.completobtn{
	margin-left: 350px !important;
	margin-top: -30px;
}

.completobtn span{
	font-size: 1.2em;
}

.segura{
	height: 100vh;
	margin-top: 15vh;
}

.div-cima{
	float: left;
	position: relative;
	background-color: #fff;
	height: 60vh;
	width: 60%;
	z-index: 89;
	margin-top: 10vh;
	box-shadow: 0px 0px 0px 0px #ccc;
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 20%;
}

.video-baixo{
	float: right;
	position: relative;
	height: 50vh;
	width: 60%;
	margin-top: -55vh;
	z-index: 90;
	box-shadow: 0px 5px 30px 0px #ccc;
}

.segundo-texto{
	margin-top: 0px !important;
	margin-bottom: 100px !important;
}

.mudei{
	margin-left: 30px !important;
	margin-top: 5px !important;
}

.mudei span{
	font-size: 1.2em;
}

.item-faq{
	margin-bottom: 30px !important;
	box-shadow: 0 0 0 0;
}

.pergunta{
	font-size: 2.2em;
	font-weight: 600;
	height: 80px;
}

.pergunta span{

	margin-top: -30px;
}


/* Custons  */






.ementa{

	font-weight: 400;
	font-size: 1.7em;
	margin-top: 20px;
	text-align: right;
	padding-right: 30px !important;
}

.oq-tem{

	font-size: 1.5em !important;
	font-weight: 500;
}


.modulos{

	margin-top: 25vh;
	margin-bottom: 25vh;
}


.conteudo-modulo{
	height: 70vh;
	padding: 8% !important;
}

.conteudo-modulo h4{

	font-size: 2em !important;
	font-weight: 500;
	margin-bottom: 40px !important;
}

.texto-logica{

	font-size: 1.6em;
}

.menu-modulos{


	padding-left: 5% !important;
	padding-top:30px !important;
}

.item-modulos{
	font-size:  2em;
	font-weight: 500;
	margin-bottom: 20px;
}


.item-branco{

	padding: 20px !important;
	margin: 20px;
}

.titulo-afasta{
	padding-top: 30px !important;
	padding-right: 20px !important;
}

.ae2{
	margin-top: -5px;
}

.label-direto{

	font-size: 1.3em !important;
	font-weight: 500;
	background-color: #fff;
	
}

.ye{

	margin-top: 15vh !important;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/












/*  Mobile */

@media screen and (max-width: 808px) {

	html{height: 100%; width: 100%;}
	body{height: 100%; background-color: #f7f7f7;}



.container{width: 100%}
.top-home{height: 100%}
.menu{margin-top: 20px; background-color: #f7f7f7}
.destaque{text-decoration: line-through}
.overflow{overflow: hidden;}
.absolute{
	position: absolute;
	padding-right: 70px !important;
	background-color: rgba(0,0,255,0.3);
	height: 100%;
}
.sublinhado{border-bottom: 1px solid #000;}


/* Animations */


/* Menu elements */

.brand-logo{
	font-weight: 600;
}
.menu-item{
	font-size: 18px;
	font-weight: 600;
}

.side-nav img{
	width: 20px;
}








/* Social Buttons*/

.social{

	display: none;
}

.social img{

	width: 20px;
	margin-bottom: 28px;
}








/* Homepage elements */





/* Pics */


.foto-home{
	height: 90vh;
	padding: 17% 3% 0% 5% !important;
	z-index: 2;
	position: relative;
	background-repeat: no-repeat;
}

.foto-home h2{

	font-weight: 350;
	font-size: 1.3em;
	color: #fff;
}

.foto-home span{
	color: #fff;
	font-weight: 500;
	font-size: 2.6em;
}

.esquerda{
	background-image: url('../assets/home_02.png');
	animation-name: esquerda;
    animation-duration: 1.5s;    
    background-size: 800px;
}


.direita{
	background-image: url('../assets/home_01.png');
	animation-name: direita;
    animation-duration: 1.5s;
    margin-top: 0px;   
    background-size: 800px;
}









/* Faixa transversal de background*/

.faixa{

	background-image: url('../assets/fundo.png');
	width: 100%;
	height: 2000px;
	position: absolute;
	margin-top: -1000px;
	z-index: 1;
}








/* Texto sobre o curso*/

.response-text{
	width: 80% !important;
}

.texto-home{
	margin-top: 100px;
	z-index: 999;
	position: relative;
	padding: 30px;
}

.texto-home span{
	background-color: yellow;
}

.texto-home h4{

	font-size: 2em;
	font-weight: 300;
	line-height: 1.5
}

.texto-home h2{

	font-weight: 500;
	font-size: 2.1em;
}







/* Cursos */

.cursos{
	z-index: 2;
	position: relative;
	margin-top: 500px;
	height: 300px;
	margin-top: 50px;
}
.cursos2{
	z-index: 2;
	position: relative;
	height: 300px;
	margin-top: -20px;	
}

.cont-cursos{
	padding: 20px;
}

.quadrado-imagem{
	
	height: 300px;
	background-color: black;
	padding: 0px !important;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s
}

.quadrado-imagem:hover .chip{
	display: block;
}

.row .col{
	padding: 0px;
}

.quadrado-imagem h2{

	font-size: 23px;
	margin-left: 30px;
	margin-top: 30px;
	color: #fff;
	font-weight: 500;
	margin-right: 30px;
	line-height: 1.6;
	z-index: 8;
	position: relative;
}

.quadrado-imagem img{
	height: 100%;
	width: auto;
}

.escuro{
	z-index: 5;
	height: 100%;
	opacity: 0.4;
	width:100%;
	position: absolute;
	background-color: #000;
}

.primeiro-quadrado{

	padding-top: 60px !important;
}

.primeiro-quadrado span{
	font-size: 55px;
	line-height: 1.0;
	font-weight: 600;
	position: relative;
	margin-left: 30px;
	color: black;
}

.chip{
	margin-left: 30px;
	color: #fff;
	position: relative;
	z-index: 10;
	display: none;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s
}

.completobtn{

	position: relative;
	z-index: 8;
	color: #000;
	font-size: 22px;
	font-weight: 700;
}

.completobtn span:hover{
	border-bottom: 2px solid #000;
}










/* Mastertechers */

.resp{
	margin-bottom: 90px;
}

.cards-techers{
	
	margin-top: 14vh;
}

.techer{
	margin: 10px;
	box-shadow: 0px 5px 30px 0px #ccc;
	padding: 0px;
	height: 250px;
}

.techer span{
	color: #000;
	font-size: 20px;
}

.techer span p{
	color: #000;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1.0;
}

.techer img{
	height: 100%;
}


.conteudo{
	padding-left: 20px !important;
}










/* Aqui vem o CSS do Vídeo*/

.video{

	margin-top: 18vh;
	padding: 0px;
}

.texto-video{

	box-shadow: 10px 5px 30px 0px #ccc;
	position: relative;
	z-index: 10;
	height: auto;
	background-color: #fff;
	padding: 30px !important;
}

.video-video{

	position: relative;
	z-index: 9;
	height: 300px;
	margin-top: 50px;
	box-shadow: 0px 5px 40px 0px #ccc;
}

.iframe-video{
	height: 100%;
	width: 100%;
}

.sublinhado a{
	color: #000;
}

.conteudo-video p{
	font-size: 1.6em;
	line-height: 1.4;
	font-weight: 600;
}

.conteudo-video span{

	font-size: 1.3em;
}








/* Captura de emails */

.branco-caixa{
	padding: 20px 30px 10px 30px !important;
	background-color: #fff;
	width: 100%;
	height: auto;
	margin-top: 100px;
}

.quero-btn{
	margin-top: 20px;
	font-size: 1.2em;
	background-color: #2a62ff !important;
}

.texto-email{
	font-size: 1.3em;
	margin-top: 30px;
	font-weight: 600;
}

.branco-caixa input{
	border-bottom: 2px solid #2a62ff;
}

.branco-caixa label{
	color: #2a62ff;
	font-size: 1.2em;
}

.aeho{
	margin-top: 20px;
}








/* Footer */

.baixo{
	width: 100%;
}

footer{
	margin-top: 10vh;
	margin-bottom: 10vh;
	width: 90%;
	padding: 30px;
}

.gostou span{
	font-size: 2.8em;
	font-weight: 700;
	margin-bottom: 20px;
}

.imersivos span{
	font-size: 1.3em;
	font-weight: 700;
	margin-top: 60px !important;
}

.quero-btn2{	
	margin-top: 60px !important;
	font-size: 1.2em;
	line-height: 1.2;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}





/* Customs*/


.entra-baixo{

	margin-bottom: -35px !important;
}


.filter{

	height: 100%;
	width: 100%;
	overflow: hidden;

}

.quadrado-imagem{
	margin-left: 0px !important;
}


.curso-maior{

	margin-bottom: 50px;
}

.curso-maior-ultimo{
	margin-bottom: 10px;
}


.completobtn{
	margin-left: 0px !important;
	margin-top: 30px;
}

.completobtn span{
	font-size: 1.2em;
}





.segura{
	height: auto;
	margin-top: 15vh;
}

.div-cima{
	float: none;
	position: relative;
	background-color: inherit;
	height: auto;
	width: 100%;
	z-index: 89;
	margin-top: 10vh;
	box-shadow: 0px 0px 0px 0px #ccc;
	padding-top: 20px;
	padding-bottom: 30px;
}

.video-baixo{
	float: none;
	position: relative;
	height: 60vh;
	width: 100%;
	margin-top: 0vh;
	z-index: 88;
	box-shadow: 0px 0px 0px 0px #ccc;
	margin-bottom: 160px;
	
}

.segundo-texto{
	margin-top: 0px !important;
	margin-bottom: 100px !important;
}

.mudei{
	margin-left: 0px !important;
	margin-top: 5px !important;
}

.mudei span{
	font-size: 1.2em;
}

.item-faq{
	margin-bottom: 30px !important;
	box-shadow: 0 0 0 0;
}

.pergunta{
	font-size: 2.2em;
	font-weight: 600;
	height: auto;
}

.pergunta span{

	margin-top: -30px;
}












/* Custons  */






.ementa{

	font-weight: 400;
	font-size: 1.7em;
	margin-top: 20px;
	text-align: right;
	padding-right: 30px !important;
}

.oq-tem{

	font-size: 1.5em !important;
	font-weight: 500;
}


.modulos{

	margin-top: 25vh;
	margin-bottom: 25vh;
	z-index: 999;
	position: relative;
}


.conteudo-modulo{
	height: 70vh;
	padding: 8% !important;
}

.conteudo-modulo h4{

	font-size: 2em !important;
	font-weight: 500;
	margin-bottom: 40px !important;
}

.texto-logica{

	font-size: 1.6em;
}

.menu-modulos{


	padding-left: 5% !important;
	padding-top:30px !important;
}

.item-modulos{
	font-size:  2em;
	font-weight: 500;
	margin-bottom: 20px;
}


.item-branco{

	padding: 20px !important;
	margin: 20px;
	padding-left: 20% !important;
}

.titulo-afasta{
	padding-top: 30px !important;
	padding-left: 20% !important;
}

.ae2{
	margin-top: -5px;
}

.label-direto{

	font-size: 1.3em !important;
	font-weight: 500;
	background-color: #fff;
	
}

.ye{

	margin-top: 15vh !important;
}






}